{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> عبد السند حسن محمد يمامه</title>
    <link rel="stylesheet" href= "{% static 'css/info only.css'%}">
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
</head>
<body>
    <ul class="frist-ul">
        <li><a href="#">عبد السند حسن محمد يمامه</a></li>
    </ul>
    <div class="container">
        <div class="center">
            <img src="{% static 'image/yamama.png'%}" alt="">
        </div>
        <div class="info"><span> عبد السند يمامه Abdel Sand Yamama  </span><a href="https://arz.wikipedia.org/wiki/%D8%AD%D8%B2%D8%A8_%D8%A7%D9%84%D9%88%D9%81%D8%AF_%D8%A7%D9%84%D8%AC%D8%AF%D9%8A%D8%AF">هو رئيس حزب الوفد الجديد </a>من سنة 2022 و أستاذ ورئيس قسم القانون الدولى الخاص بكلية الحقوق جامعة المنوفيه، ورئيس المركز الدولى للتحكيم والتوفيق والوساطة والملكية الفكرية، اخد الدكتوراه فى الاستثمار الأجنبى بمصر، من جامعة نانسى بفرنسا، كما عمل محامى لرابطة العالم الإسلامي.</div>
            <div class="info2">
                <h1>حياته </h1>
                <p> عبد السند يمامه مصري الجنسيه ولد في 18 نوفمبرعام 1952 , ولد بالمنيل شيحه في الجيزه متزوج وله أربعة
                    أولاده</p>
            </div>
            <div class="info2">
                <h1> المؤهلات العلميه</h1>   
                <ul>
                    حصل على دبلوم القانون الدولي بجامعة عين شمس كما أنه حصل ايضا علي دكتوراه في القانون من جامعة
                    نانسي بفرنسا 1988 وعنوانها الاستثمارات الأجنبية في مصر والقانون الدولي استاذ و كان رئيس قسم القانون 
                   الدولي الخاص بكلية الحقوق جامعة المنوفية
        
                </ul>
            </div>
            <div class="info2">
                <h1> المناصب القيادية</h1>   
                <ul>    
                    <li>عضو لجنة الدفاع والمحامي في اكبر قضية في تاريخ المحاماه والتي تتعلق بمطالبة 15 مكتب محاماه امريكي بالتعويض بمبلغ 13 تريليون دولار عن ضحايا انهيار برجي التجارة العالمي في نيويورك في 11 سبتمبر 2001</li>
                    <li>شريك بمكتب الدكتور / عبد الله المصلح للمحاماة والاستشارات القانونية بالمملكة العربية السعودية</li>
                    <li> رئيس المركز الدولي للتحكيم والوساطة والملكية الفكرية بالقاهرة وله 15 محاضرة ألقاها في 15 دورة تدريبية نظمها المركز  " متوقف حالياً "</li>
                    <li>عضو الجمعية المصرية للقانون الدولي</li>
                    <li>عضو اتحاد المحامين العرب</li>

                </ul>
            </div>
        </div>

</body>
</html>