{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> حازم محمد سليمان محمد عمر </title>
    <link rel="stylesheet" href="{% static 'css/info only.css'%}">
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <ul class="frist-ul">
        <li><a href="#"> حازم محمد سليمان محمد عمر </a></li>
    </ul>
    <div class="container">
        <div class="center">
            <img src="{% static 'image/hazem2.png'%}" alt="">
        </div>
        <div class="info"><span> حازم محمد سليمان عمر Hazem Mohammed Suliman Omar  </span>هو رئيس حزب الشعب الجمهورى، وعضو بمجلس الشيوخ ضمن 100 عضوا عينهم الرئيس عبد الفتاح السيسى فى ديسمبر 2020. وبعيد عن الحياه السياسية،يشغل اخدم عمر منصب رئيس مجلس إدارة والعضو المنتدب شركة فيال مورا للتنمية السياحيه </div>
            <div class="info2">
                <h1>حياته </h1>
                <p>ولد في 12 أغسطس 1964 بمحافظة القاهرة , ترجع جذوره إلى مركز الحسينية بمحافظة الشرقية هو سليل
                    عائلة عمر وهى عائلة سياسية وبرلمانية منذ ثلاثينيات القرن التاسع عشر وحتى عام 2023 حرص على فتح 
                   قنوات تواصل على مستوى  العلاقات الدولية مع العديد من قادة الدول والسياسيين البارزين مثل مهاتير 
                   محمد رئيس وزراء ماليزيا في عام 2000 والرئيس لولا دا سيلڤا  في عام 2002، وكذلك  أعضاء الكونجرس 
                   بالولايات المتحدة الأمريكية</p>
            </div>
            <div class="info2">
                <h1> المؤهلات العلميه</h1>   
                <ul>
                    <li>حصل على بكالوريوس الهندسة من جامعة الإسكندرية عام 1986</li>
        
                </ul>
            </div>
            <div class="info2">
                <h1> المناصب القيادية</h1>   
                <ul>    
                    <li> مؤسس ورئيس حزب الشعب الجمهوري ذو التوجه الليبرالي</li>
                    <li>شارك في اتفاقية الميركاسور عام 2009 كمستشار لوزير الصناعة والتجارة المصري الأسبق رشيد محمد رشيد</li>
                    <li>رئيس مجلس الإدارة والعضو المنتدب لإحدى الشركات العاملة في مجال التنمية السياحية</li>
                    <li>عضو مجلس الشيوخ</li>
                    <li>رئيس لجنة الشئون الخارجية والعربية والإفريقية بمجلس الشيوخ المصري</li>

                </ul>
            </div>
        </div>

</body>
</html>