{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> محمد فريد سعد زهران</title>
    <link rel="stylesheet" href="{% static 'css/info only.css'%}">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <ul class="frist-ul">
        <li><a href="#">محمد فريد سعد زهران</a></li>
    </ul>
    <div class="container">
        <div class="center">
            <img src="{% static 'image/mohamed.png'%}" alt="">
        </div>
        <div class="info"><span> فريد زهران Farid Zahran  </span>هو سياسي ومفكر
            <a href="https://ar.wikipedia.org/wiki/%D8%A7%D8%B4%D8%AA%D8%B1%D8%A7%D9%83%D9%8A%D8%A9"> اشتراكي </a>
            ديمقراطي. يعد من أبرز قادة الحركة الطلابية في السبعينات، ومن قيادات الحركات الاحتجاجية والمعارضة الداعية للديمقراطية والعدل الاجتماعي في مصر من 1974 وحتى الآن. بجانب ذلك هو أحد مؤسسي النشاط الاهلي. يشغل منصب رئيس
            <a href="https://ar.wikipedia.org/wiki/%D8%A7%D9%84%D8%AD%D8%B2%D8%A8_%D8%A7%D9%84%D9%85%D8%B5%D8%B1%D9%8A_%D8%A7%D9%84%D8%AF%D9%8A%D9%85%D9%82%D8%B1%D8%A7%D8%B7%D9%8A_%D8%A7%D9%84%D8%A7%D8%AC%D8%AA%D9%85%D8%A7%D8%B9%D9%8A">
             الحزب المصري الديمقراطي الاجتماعي
            </a>
            ، بجانب كونه رئيس مجلس إدارة مركز المحروسة للنشر والخدمات الصحفية والمعلومات</div>
            <div class="info2">
                <h1>حياته </h1>
                <p> فريد زهران مصرى الجنسية ولد فى 1 يناير عام 1957 . 
                    </p>
            </div>
            <div class="info2">
                <h1> المؤهلات العلميه</h1>   
                <p> حصل على البكالوريوس الزراعة من جامعة القاهرة</p>
                <ul>
                <br>
                <br>
                <br>
                </ul>
            </div>
            <div class="info2">
                <h1> المناصب القيادية</h1>   
                <ul>    
                    <li>من مؤسسي أسرة عبد المجيد مرسى في كلية زراعة- <a href="https://ar.wikipedia.org/wiki/%D8%AC%D8%A7%D9%85%D8%B9%D8%A9_%D8%A7%D9%84%D9%82%D8%A7%D9%87%D8%B1%D8%A9">  جامعة القاهرة ،</a>
                        في الفترة من 1974 وحتى 1980 ومحرر نشرة الطريق الصادرة عن الأسرة.</li>
                    <li> رئيس تحرير موقع <a href="https://ar.wikipedia.org/wiki/%D8%A7%D9%84%D8%B7%D8%B1%D9%8A%D9%82_(%D9%85%D9%88%D9%82%D8%B9_%D8%A5%D8%AE%D8%A8%D8%A7%D8%B1%D9%8A)">الطريق</a></li>
                    <li>دعى ونظم وشارك في إدارة احتفالية جيل السبعينات عام 1997 التي حضرها ما يزيد عن ألف مواطن 
                        ممن شاركوا في النشاط التقدمى بين عامى 67 و 1977 وبالذات في الحركة الطلابية وذلك بمناسبة مرور 25 
                        عام على حركة الطلاب في 1972 و20 عام على انتفاضة 18 و19 يناير 1977.</li>
                    <li>عضو سكرتارية اللجنة المصرية لمتابعة الانتخابات عام 1995.  </li>
                    <li>عضو مؤسس وعضو الهيئة التنيسقية للجنة الشعبية لدعم انتفاضة الشعب الفلسطيني من 2000 
                        وحتى 2004.</li>
                    <li>عضو سكرتارية المرصد المصري لمراقبة الانتخابات 2005.</li>
                    <li>عضو اللجنة التنسيقية للحملة الشعبية للتغيير (ارحل).</li>
                    <li>رأس تحرير عدد من الدوريات الثقافية، مثل الثقافة الوطنية وثقافة البلد.</li>
                    <li>عضو مجلس إدارة ومؤسس رئيسي بجريدة اليومية المعارضة.</li>
                    <li>عضو مؤسس بالمركز المصري الديمقراطي الاجتماعي من 2002 وحتى 2010.</li>
                    <li>عضو مؤسس بالمنتدى الاجتماعي المصري، في اطار تحالف بين أكثر من 50 منظمة مجتمع مدني.</li>
                    <li>عضو بالمنتدى المدني الارومتوسطي، في اطار الشراكة بين منظمات مجتمع مدني مصريه
                        وأخرى ارومتوسطية.</li>
                </ul>
            </div>
        </div>

</body>
</html>