{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>عبد الفتاح السيسي</title>
    <link rel="stylesheet" href="{% static 'css/info only.css'%}">
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <ul class="frist-ul">
        <li><a href="#">عبد الفتاح سعيد حسين السيسي</a></li>
    </ul>
    <div class="container">
        <div class="center">
            <img src="{% static 'image/sisi2.png'%}" alt="">
        </div>
        <div class="info"><span> عبد الفتاح السيسيAbdel Fattah el-Sisi </span> رئيس جمهورية مصر العربية، كان وزير الدفاع والانتاج الحربى و رئيس المجلس الأعلى للقوات المسلحة    فى مصر من 12 اغسطس 2012 لحد 26 مارس 2014 و كان نايب رئيس وزرا مصر من 16 يوليه 2013 لحد 26 مارس2014 قبل ما يكون وزير الدفاع كان رئيس المخابرات الحربية و كان اصغر عضو فى المجلس العسكرى، واتعين وزير للدفاع بقرار رياسى يوم 12 اغسطس 2012 عشان يمسك المنصب ده بعد المشير محمد حسين طنطاوى. وحصل على رتبة مشير فى 2014 من الرئيس المؤقت عدلى منصور. ويوم 26 مارس 2014 ساب منصب وزير الدفاع و الانتاج الحربى علشان يترشح ف انتخابات رياسة مصر سنة 2014. مسك المنصب بعده صدقى صبحى اللى كان رئيس الاركان</div>
            <div class="info2">
                <h1>حياته العسكريه</h1>
                <p>عبد الفتاح سعيد حسين خليل السيسى من مواليد يوم 19 نوفمبر سنة 1954 ف القاهره (مصر) ابتدا حياته العسكريه لما اتخرج من الكليه الحربيه يوم 1 ابريل 1977 و خدم فى سلاح المشاه واتعين قائد للمنطقة الشمالية العسكرية فى اسكندرية</p>
            </div>
            <div class="info2">
                <h1> المؤهلات العلميه</h1>   
                <ul>
                    <li>بكالوريوس العلوم العسكرية عام 1977</li>
                    <li>ماجستير العلوم العسكرية من كلية القادة والأركان عام 1987</li>
                    <li>ماجستير العلوم العسكرية من كلية القادة والأركان البريطانية عام 1992</li>
                    <li>زمالة كلية الحرب العليا من أكاديمية ناصر العسكرية العليا عام 2003</li>
                    <li>زمالة كلية الحرب العليا الأمريكية عام 2006</li>
                </ul>
            </div>
            <div class="info2">
                <h1> المناصب القيادية</h1>   
                <ul>    
                    <li>رئيس فرع المعلومات والأمن بالأمانة العامة لوزارة الدفاع</li>
                    <li>قائد كتيبة مشاه ميكانيكى</li>
                    <li>ملحق دفاع ف سفارة مصر ف السعودية</li>
                    <li>قائد لواء مشاة ميكانيكى</li>
                    <li>قائد فرقة مشاة ميكانيكى</li>
                    <li>رئيس أركان المنطقة الشمالية العسكرية</li>
                    <li>قائد المنطقة الشمالية العسكرية</li>
                    <li>مدير إدارة المخابرات الحربية والإستطلاع</li>
                    <li>القائد العام للقوات المسلحة وزير الدفاع والإنتاج الحربى</li>
                    <li>رئيس جمهورية مصر العربية</li>
                </ul>
            </div>
        </div>

</body>
</html>